/* REVIEW HEADER */
.review-list-header {
  display: flex;
}

.review-list-header span {
  display: flex;
  height: 20px;
  width: 200px;
}

/* REVIEW LIST ENTRY */
.review-header {
  display: flex;
}

.review-body {
  display: flex;
}

.review-body-inner {
  display: flex;
  flex-direction: column;
}

.review-inner-footer {
  display: flex;
}

.review-profile-pic {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.review-purch-pic {
  border-radius: 6px;
  height: 35px;
  width: 35px;
}

.review-attached-pic {
  border-radius: 6px;
  height: 178px;
  width: 178px;
}

/* STYLING FOR AVERAGE STORE RATING STARS */
.star_svg__star {
  height: 20px;
  width: 20px;
}

/* PHOTO GALLERY */
.review-gallery-photos {
  display: flex;
}

.review-gallery-photos img {
  border-radius: 6px;
  height: 178px;
  width: 178px;
}

/* MODAL */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.modal-main {
  display: flex;
  height: 480px;
  width: 840px;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  z-index: 5;
  overflow: hidden;
}

.modal-pic img {
  height: 480px;
  width: 480px;
}

.modal-info {
  height: 432px;
  width: 324px;
  padding: 18px 24px 18px 24px;
}

/* MODAL HEADER */

.modal-header {
  display: flex;
}

.modal-header img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.modal-header-namedate {
  display: flex;
  flex-direction: column;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

/* MODAL FOOTER */
.modal-footer div {
  display: flex;
}

.modal-footer div img {
  border-radius: 6px;
  height: 49px;
  width: 62px;
}

.modal-footer-info {
  display: flex;
  flex-direction: column;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* MODAL BUTTONS */
.prev-btn {
  cursor: pointer;
  position: fixed;
  top: 48%;
  left: 26.5%;
  border-radius: 50%;
  border-width: 0;
  height: 48px;
  width: 48px;
  background: white;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
}

.prevarrow_svg__arrow {
  height: 24px;
  width: 24px;
}

.next-btn {
  cursor: pointer;
  position: fixed;
  top: 48%;
  left: 71%;
  border-radius: 50%;
  border-width: 0;
  height: 48px;
  width: 48px;
  background: white;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
}

.nextarrow_svg__arrow {
  height: 24px;
  width: 24px;
  color: black;
}

.exit-btn {
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: fixed;
  background: none;
  z-index: 10;
  border-radius: 50%;
  border-width: 0;
  top: 10%;
  left: 73%;

}

.exitsymbol_svg__arrow {
  height: 18px;
  width: 18px;
}

.exitsymbol_svg__arrow path {
  fill: white;
}
