/* MAIN CONTAINER */
.review-main {
  width: 810px;
}

/* REVIEW HEADER */
.review-list-header {
  display: flex;
  height: 66px;

}

.review-list-header h5 {
  display: flex;
  font-family: 'Merriweather', serif;
  font-size: 26px;
  letter-spacing: 0.35px;
  font-weight: 300;
  align-items: center;
  margin: 0;

}

.review-list-header span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

/* review header stars */
.review-list-header span svg {
  height: 18px;
  width: 18px;
}

/* review header select */
.review-list-header select {
  display: flex;
  margin-left: auto;
  height: 42px;
  width: 200px;
  padding: 9px 15px 9px 15px;
  border-width: 0;
  font-size: 13px;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color border-radius 1s;
}

.review-list-header select:hover {
  background-color: rgba(34, 34, 34, 0.075);
  border-radius: 24px;
}

/* REVIEW LIST ENTRY */

/* review list entry main */
.review-list-entry {
  width: 828px;
  height: auto;
  padding: 9px;
  margin-bottom: 24px;
}

.review-header {
  display: flex;
  width: auto;
  height: 36px;
  margin-bottom: 6px;
}

.review-links {
  font-size: 13px;
  text-decoration: underline;
  text-decoration-color: rgb(89, 89, 89);
  border-width: 0;
  background: white;
  padding-right: 0;
  cursor: pointer;
  margin-right: 6px;
}

/* review list entry date */
.review-header div {
  display: flex;
  align-items: center;
  font-size: 13px;

}

.review-body {
  display: flex;
  width: auto;
  height: 178px;
  padding-left: 48px;
  color: rgb(34, 34, 34);
}

.review-body-null {
  display: flex;
  width: auto;
  height: 62px;
  padding-left: 48px;
  color: rgb(34, 34, 34);
}

.review-body-outer {
  display: flex;
  flex-direction: column;
}

.review-body-inner {
  display: flex;
  flex-direction: column;
}

/* rating stars inside reviews */
.review-body-stars {
  margin-bottom: 6px;
}

/* review inside review body */
.review-body-review {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.review-footer {
  width: auto;
  padding-left: 48px;
}

.review-footer p {
  height: 18px;
  color: rgb(89, 89, 89);
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 6px;
  font-family: 'Roboto', sans-serif;
}

.review-inner-footer {
  display: flex;
  height: 36px;
  align-items: center;
}

.review-profile-pic {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 12px;
}

.review-purch-pic {
  border-radius: 6px;
  height: 36px;
  width: 36px;
  margin-right: 8px;
}

.review-attached-pic {
  border-radius: 6px;
  height: 178px;
  width: 178px;
  margin-left: auto;
}

/* STYLING FOR AVERAGE STORE RATING STARS */
.star_svg__star {
  height: 20px;
  width: 20px;
  padding-right: 3px;
}

/* PHOTO GALLERY */
.review-gallery-photos {
  display: flex;
}

.review-gallery-photos img {
  border-radius: 6px;
  height: 178px;
  width: 178px;
}

/* MODAL */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.modal-main {
  display: flex;
  height: 480px;
  width: 840px;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  z-index: 5;
  overflow: hidden;
}

.modal-pic img {
  height: 480px;
  width: 480px;
}

.modal-info {
  height: 432px;
  width: 324px;
  padding: 18px 24px 18px 24px;
}

/* MODAL HEADER */

.modal-header {
  display: flex;
  height: 37px;
  font-family: 'Roboto', sans-serif;
  color: rgb(34, 34, 34);
  margin-bottom: 24px;
}

.modal-header img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 12px;
}

.modal-header-namedate {
  display: flex;
  flex-direction: column;
}

.r-modal-header-date {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 3px;
}

.r-modal-header-name {
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 240px;
}

.modal-body span {
  margin-bottom: 5px;
}

.modal-body p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

/* MODAL FOOTER */
.modal-footer {
  font-family: 'Roboto', sans-serif;
  height: 100px;
}

.modal-footer h5 {
  font-size: 13px;
  font-weight: 100;
}

.r-modal-footer-section {
  height: 70px;
  display: flex;
}

.modal-footer div img {
  border-radius: 6px;
  height: 49px;
  width: 62px;
  margin-right: 12px;
}

.modal-footer-info {
  display: flex;
  flex-direction: column;
}

.modal-footer-info p {
  margin: 0;
  font-size: 13px;
  margin-bottom: 6px;
}

.modal-footer-info p p {
  margin: 0;
  font-size: 16px;
}



.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* MODAL BUTTONS */
.r-modal-prev-btn {
  cursor: pointer;
  position: fixed;
  top: 48%;
  left: 26.5%;
  border-radius: 50%;
  border-width: 0;
  height: 48px;
  width: 48px;
  background: white;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
}

.r-modal-prev-btn:hover {

}

.prevarrow_svg__arrow {
  height: 24px;
  width: 24px;
}

.r-modal-next-btn {
  cursor: pointer;
  position: fixed;
  top: 48%;
  left: 71%;
  border-radius: 50%;
  border-width: 0;
  height: 48px;
  width: 48px;
  background: white;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
}

.nextarrow_svg__arrow {
  height: 24px;
  width: 24px;
  color: black;
}

.r-modal-exit-btn {
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: fixed;
  background: none;
  z-index: 10;
  border-radius: 50%;
  border-width: 0;
  top: 10%;
  left: 73%;

}

.exitsymbol_svg__arrow {
  height: 18px;
  width: 18px;
}

.exitsymbol_svg__arrow path {
  fill: white;
}


/* PAGE NAV */
.page-nav {
  display: flex;
  font-size: 26px;
  margin-bottom: 36px;
}

.page-nav button {
  margin-right: 6px;
}

.page-nav div {
  margin-right: 6px;
  line-height: 42px;
  letter-spacing: 0.35px;
  font-size: 20px;
}

.page-button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border-width: 0;
  background: rgba(34, 34, 34, 0.075);
  transition: background-color 200ms;
  cursor: pointer;
  z-index: 10;
}

.page-button:hover {
  background-color: rgba(34, 34, 34, 0.4);
}

.page-button > * {
  pointer-events: none;
}

.current-button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: rgba(34, 34, 34, 0.4);
  border-width: 0;
}

.page-nav-next {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border-width: 0;
  background: rgba(34, 34, 34, 0.075);
}

.page-nav-next svg {
  height: 18px;
  width: 18px;
}

.page-nav-prev {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border-width: 0;
  background: rgba(34, 34, 34, 0.075);
}

.page-nav-prev svg {
  height: 18px;
  width: 18px;
}

/* GALLERY */
.review-gallery {
  height: 241px;
  width: 810px;
}

.review-gallery-title {
  margin-left: 9px;
}

.review-gallery-title h4 {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(34, 34, 34);
}

.review-gallery-photos img {
  height: 189px;
  width: 189px;
  padding: 9px;
  border-radius: 24px;
}


.gallery-prev {
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 50%;
  border-width: 0;
  position: relative;
  top: 65%;
  left: 2%;
  z-index: 1
}

.gallery-prev svg {
  height: 24px;
  width: 24px;
}

.gallery-next {
  position: relative;
  top: 65%;
  left: 94%;
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 50%;
  border-width: 0;
  z-index: 1
}

.gallery-next svg {
  height: 24px;
  width: 24px;
}
